@model MES.data.TableMasterUser
@{
    ViewData["Title"] = "Login";
}

@{
    Layout = "";
}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LOGIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/css_login/style.css">

    <!-- Custom fonts for this template-->
    @*<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    @*<link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />*@

</head>

<body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                    <img src="~/img/Logonew.png" alt="Logo" style="width: 200px; height: 200px;" /> 
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-5">
                        <div class="login-wrap p-4 p-md-5">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-user-o"></span>
                            </div>
                            <h3 class="text-center mb-4">Sign In</h3>
                            
                        <form asp-controller="Home" asp-action="Login" method="post">
                            <div class="form-group">
                                <input asp-for="Username" type="text" class="form-control rounded-left" placeholder="Username" required>
                                @*<label for="Username" class="form-label">Username</label>*@
                                @*<input asp-for="Username">*@
                                </div>
                            <div class="form-group">
                                <input asp-for="Password" type="password" class="form-control rounded-left" placeholder="Password" required>
                                @*<label for="Password" class="form-label">Password</label>*@
                                @*<input asp-for="Password">*@
                                </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Login</button>
                                @*button type="submit" class="btn btn-primary" value="Index">Submit</button>*@
                                </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">
                                        Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                            </div>
                           @* Username:  <input asp-for="Username" /> <br />
                            Password: <input asp-for="Password" /><br />*@
                            @*<button type="submit">Login</button>*@
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="js/jquery.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>

    </body>

