@{
    Layout = "_layout_methodengineer";
}
<body>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-10">
                    <h2>Work Plan</h2>
                </div>
                <div class="col-sm-2">
                    <a href="#addEmployeeModal" class="btn btn-success " data-toggle="modal"><i class="fas fa-plus">&#xE147;</i><span>Add Work Plan</span></a>
                    <a href="#deleteEmployeeModal" class="btn btn-danger " data-toggle="modal"><i class="fas fa-minus">&#xE15C;</i> <span>Delete</span></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Flow ID</th>
                        <th>Flow Name</th>
                        <th>References Name</th>
                        <th>Line ID</th>
                        <th>Valid Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
</body>
